{% include('admin/layout/header.twig')%}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Languages & Currencies

                    <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="row">                    
                    <div class="col-md-5">
                        <div class="form-horizontal">
                            <div class="form-group">
                                    <label class="col-sm-7 control-label">
                                        <h6 align="left">AVAILABLE LANGUAGES</h6><br>
                                    </label>
                            </div>
                            
                            {% for l in langs %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{ l.name }}
                                    </label>
                                    <div class="col-sm-4">
                                        <label class="switch">
                                            <input type="checkbox" {% if l.status == "1" %} checked {% endif %} id="togBtn" onchange='changeLanguageStatus("{{ l.id }}", this)'>
                                            <div class="slider round">
                                                <span class="on">ON</span>
                                                <span class="off">OFF</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                        
                    <div class="col-md-7">
                        <div class="form-horizontal">
                            <div class="form-group">
                                    <label class="col-sm-7 control-label">
                                        <b><h6 align="left">AVAILABLE CURRENCIES</h6></b><br> 
                                    </label>
                            </div>
                            {% for c in curns %}
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">
                                        {{ c.name }}
                                        {% if c.code != default_currency %} 
                                            (1 <i class="fa {{ default_currency_symbol }}"></i> = {{ c.currency_ratio }} <i class="fa {{ c.icon }}"></i> )
                                        {% else %}
                                            (Default)
                                        {% endif %}
                                        
                                    </label>
                                    <div class="col-sm-4">
                                        <label class="switch">
                                            <input type="checkbox" {% if c.status == "1" %} checked {% endif %} id="togBtn" onchange='changeCurrencyStatus("{{ c.id }}", this)'>
                                            <div class="slider round">
                                                <span class="on">ON</span>
                                                <span class="off">OFF</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>                                    
    </div>
</div>
                        
<link rel="stylesheet" href="assets/css/multiple_options.css">
<script src="assets/js/multiple_options.js"></script>

{% include('admin/layout/footer.twig')%}
