{% include('admin/layout/header.twig')%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Plan Settings <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: FAQ -->
                        <div class="tabbable tabs-left faq">
                            <ul id="myTab3" class="nav nav-tabs">
                                <li class="{{tab1}}">
                                    <a href="#plan_tab1" data-toggle="tab">
                                        <i class="fa fa-credit-card"> </i>Payment Methods 
                                    </a>
                                </li>
                                <li class="{{tab2}}">
                                    <a href="#plan_tab2" data-toggle="tab">
                                        <i class="fa fa-money"> </i> Bonuses
                                    </a>
                                </li>
                                <li class="{{tab3}}">
                                    <a href="#plan_tab3" data-toggle="tab">
                                        <i class="fa fa-user"> </i> Username Settings
                                    </a>
                                </li>

                                <li class="{{tab4}}">
                                    <a href="#plan_tab4" data-toggle="tab">
                                        <i class="fa fa-bars"> </i> Registration Model
                                    </a>
                                </li>
                                {% if mlm_plan == "Matrix" %} 
                                    <li class="{{tab5}}">
                                        <a href="#plan_tab5" data-toggle="tab">
                                            <i class="fa fa-arrows"> </i> Depth & Width
                                        </a>
                                    </li>
                                {% endif %}

                                {% if mlm_plan == "BINARY" %} 
                                    <li class="{{tab6}}">
                                        <a href="#plan_tab6" data-toggle="tab">
                                            <i class="fa fa-balance-scale"> </i> User Position
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane {{tab1}}" id="plan_tab1" style="padding: 65px;">
                                    <div id="accordion" class="panel-group accordion accordion-custom accordion-teal">

                                        <h3 class="margin-bottom-5">Payment Methods </h3>
                                        <br>
                                        <div class="form-horizontal">
                                            {% for pm in payment_method %}
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        {{ pm.code }}
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <label class="switch">
                                                            <input type="checkbox" {% if pm.status == "active" %} checked {% endif %} id="togBtn" onchange='changePaymentStatus("{{ pm.code }}", this)'>
                                                            <div class="slider round">
                                                                <span class="on">ON</span>
                                                                <span class="off">OFF</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane {{tab2}}" id="plan_tab2" style="padding: 65px;">
                                    <div id="accordion2" class="panel-group accordion accordion-custom accordion-teal">
                                        <h3 class="margin-bottom-15"> Bonuses</h3>
                                        <br>

                                        {{ form_open('', ' id="add_field_form" name="add_field_form"')|raw }}
                                        <div class="form-horizontal">                                            
                                            {% if mlm_plan == "BINARY" %} 
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Pairing Bonus
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" type="number" name="pair_bonus" id="pair_bonus" value="{{ pair_bonus }}">
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Referal Bonus
                                                </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" type="number" name="referal_bonus" id="referal_bonus" value="{{ referal_bonus }}">
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">

                                                </label>
                                                <div class="col-sm-4">
                                                    <button type="submit"class="btn btn-primary" value="bonus_settings" name="bonus_settings">
                                                        Update <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_close()|raw }}



                                    </div>
                                </div>
                                <div class="tab-pane {{tab3}}" id="plan_tab3" style="padding: 65px;">
                                    <div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
                                        <h3 class="margin-bottom-15">Username Settings</h3>
                                        <br>
                                        {{ form_open('', ' id="add_field_form" name="add_field_form"')|raw }}
                                        <div class="form-horizontal">                                            
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Username Type
                                                </label>
                                                <div class="col-sm-4">
                                                    <select name="username_type" id="username_type" class="form-control field_type" >
                                                        <option value="">Select Username Type</option>
                                                        <option value="statis" {% if username_type=="statis" %} selected {% endif %}>Static</option>
                                                        <option value="dynamic" {% if username_type=="dynamic" %} selected {% endif %}>Dynamic</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Username Prefix
                                                </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" type="text" name="username_prefix" id="username_prefix" maxlength="4" value="{{ username_prefix }}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Username Size
                                                </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" min="5" max="15" type="number" name="username_size" id="username_size" value="{{ username_size }}">
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">

                                                </label>
                                                <div class="col-sm-4">
                                                    <button type="submit"class="btn btn-primary" value="username_settings" name="username_settings">
                                                        Update <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_close()|raw }}
                                    </div>
                                </div>

                                <div class="tab-pane {{tab4}}" id="plan_tab4" style="padding: 65px;">
                                    <div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
                                        <h3 class="margin-bottom-15">Registration Model</h3>
                                        <br>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Form Type
                                                </label>
                                                <div class="col-sm-4">
                                                    <label class="switch">
                                                        <input type="checkbox" {% if register_form_type == "single" %} checked {% endif %} id="togBtn" onchange='changeRegisterForm(this)'>
                                                        <div class="slider round">
                                                            <span class="on">Single</span>
                                                            <span class="off">Multiple</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Field Configuration
                                                </label>
                                                <div class="col-sm-4">
                                                    <label class="switch">
                                                        <input type="checkbox" {% if register_field_configuration == "active" %} checked {% endif %} id="togBtn" onchange='changeFieldConfigStatus(this)'>
                                                        <div class="slider round">
                                                            <span class="on">ON</span>
                                                            <span class="off">OFF</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if mlm_plan == "Matrix" %} 
                                    <div class="tab-pane {{tab5}}" id="plan_tab5" style="padding: 65px;">
                                        <div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
                                            <h3 class="margin-bottom-15">Depth & Width</h3>
                                            <br>

                                            {{ form_open('', ' id="depth_width_form" name="depth_width_form"')|raw }}
                                            <div class="form-horizontal">   
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Depth
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" min="1" max="10" type="number" name="matrix_depth" id="matrix_depth" value="{{ matrix_depth }}">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Width
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" min="1" max="10" type="number" name="matrix_width" id="matrix_width" value="{{ matrix_width }}">
                                                    </div>
                                                </div>




                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">

                                                    </label>
                                                    <div class="col-sm-4">
                                                        <button type="submit"class="btn btn-primary" value="matrix_settings" name="matrix_settings">
                                                            Update <i class="fa fa-arrow-circle-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_close()|raw }}


                                        </div>
                                    </div>
                                {% endif %}


                                {% if mlm_plan == "BINARY" %} 
                                    <div class="tab-pane {{tab6}}" id="plan_tab6" style="padding: 65px;">
                                        <div id="accordion6" class="panel-group accordion accordion-custom accordion-teal">
                                            <h3 class="margin-bottom-15">User Position</h3>
                                            <br>

                                            {{ form_open('', ' id="user_position_form" name="user_position_form"')|raw }}
                                            <div class="form-horizontal">   
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Leg
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <select name="register_leg" id="register_leg" class="form-control field_type" >
                                                            <option value="">Select Leg</option>
                                                            <option value="dynamic" {% if register_leg=="dynamic" %} selected {% endif %}>Dynamic</option>
                                                            <option value="balanced" {% if register_leg=="balanced" %} selected {% endif %}>Balanced</option>
                                                            <option value="left" {% if register_leg=="left" %} selected {% endif %}>Left</option>
                                                            <option value="right" {% if register_leg=="right" %} selected {% endif %}>Right</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">

                                                    </label>
                                                    <div class="col-sm-4">
                                                        <button type="submit"class="btn btn-primary" value="leg_settings" name="leg_settings">
                                                            Update <i class="fa fa-arrow-circle-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_close()|raw }}


                                        </div>
                                    </div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>                               
    .switch {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 34px;
    }

    .switch input {display:none;}

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #8B91A0;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #5bc0de;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(55px);
    }

    /*------ ADDED CSS ---------*/
    .on
    {
        display: none;
    }

    .on, .off
    {
        color: white;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked+ .slider .on
    {display: block;}

    input:checked + .slider .off
    {display: none;}

    /*--------- END --------*/

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;}
</style>

<script>
    function changePaymentStatus(payment_code, element)
    {
        if (element.checked) {
            var status = "active";
        } else {
            var status = "inactive";
        }
        $.ajax({
            url: "admin/configuration/change_payment_status",
            data: {payment_code: payment_code, status: status},
            success: function (result) {
                if (result == "yes") {
                    if (status == "active") {
                        var msg = payment_code + " Activated";
                        var flag = "success";
                        var title = "Success";
                        show_notification(flag, title, msg);
                    } else {
                        var flag = "error";
                        var msg = payment_code + " Inactivated";
                        var title = "Success";
                        show_notification(flag, title, msg);
                    }

                } else {
                    var flag = "error";
                    var msg = "Updation Failed";
                    var title = "Failed";
                    show_notification(flag, title, msg);
                }
            }
        });
    }


    function changeFieldConfigStatus(element)
    {
        if (element.checked) {
            var status = "active";
        } else {
            var status = "inactive";
        }
        $.ajax({
            url: "admin/configuration/change_reg_field_status",
            data: {status: status},
            success: function (result) {
                if (result == "yes") {
                    if (status == "active") {
                        var msg = "Configured Registration Enabled";
                        var flag = "success";
                        var title = "Success";
                        show_notification(flag, title, msg);
                    } else {
                        var msg = "Configured Registration Disabled";
                        var flag = "error";
                        var title = "Success";
                        show_notification(flag, title, msg);
                    
                    }
                    
                } else {
                    var flag = "error";
                    var msg = "Updation Failed";
                    var title = "Failed";
                    show_notification(flag, title, msg);
                }
            }
        });
    }


    function changeRegisterForm(element)
    {
        if (element.checked) {
            var status = "single";
        } else {
            var status = "multiple";
        }
        $.ajax({
            url: "admin/configuration/change_register_form_type",
            data: {status: status},
            success: function (result) {
                if (result == "yes") {
                    if (status == "single") {
                        var msg = "Single Step Registration Enabled";
                    } else {
                        var msg = "Multiple Step Registration Enabled";
                    }
                    var flag = "success";
                    var title = "Success";
                    show_notification(flag, title, msg);
                } else {
                    var flag = "error";
                    var msg = "Updation To Failed";
                    var title = "Failed";
                    show_notification(flag, title, msg);
                }
            }
        });
    }



    function show_notification(status, title, msg) {
        var i = -1;
        var toastCount = 0;
        var $toastlast;
        var toastIndex = toastCount++;
        toastr.options = {
            closeButton: $('#closeButton').prop('checked'),
            debug: $('#debugInfo').prop('checked'),
            positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
            onclick: null
        };

        $("#toastrOptions").text("Command: toastr["
                + status
                + "](\""
                + msg
                + (title ? "\", \"" + title : '')
                + "\")\n\ntoastr.options = "
                + JSON.stringify(toastr.options, null, 2)
                );

        var $toast = toastr[status](msg, title); // Wire up an event handler to a button in the toast, if it exists

    }


</script>
{% include('admin/layout/footer.twig')%}