{% include('admin/layout/header.twig')%}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if edit_status %}
                        Update Register Field
                    {% else %}
                        Add Register Field
                    {% endif %}

                    <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open('', ' id="add_field_form" name="add_field_form"')|raw }}
                <div class="form-horizontal">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                    </div>
                    <input type='hidden' id="edited_field" name="edited_field" value="{{edited_field}}"/>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Field Name <span class="symbol required"></span>
                            </label>
                            <input type="text" placeholder="Insert your Field Name" class="form-control" id="field_name" name="field_name" value="{{ post_data.field_name }}">
                            {% if error.field_name is defined %}<code> {{ error.field_name}}</code> {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Required <span class="symbol required"></span>
                            </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" checked="checked" class="grey" value="1" name="required_status" id="required_status">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {% if post_data.required_status==0 %} checked="checked" {% endif %} class="grey" value="0" name="required_status"  id="required_status">
                                    No
                                </label>
                                {% if error.required_status is defined %}<code> {{ error.required_status}}</code> {% endif %}
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        Placement <span class="symbol required"></span>
                                    </label>
                                    <select name="register_step" id="register_step" class="form-control" >
                                        <option value="">Select Placement</option>
                                        <option value="step-1" {% if post_data.register_step=="step-1" %} selected {% endif %}>Step-1</option>
                                        <option value="step-2" {% if post_data.register_step=="step-2" %} selected {% endif %}>Step-2</option>
                                        <option value="step-3" {% if post_data.register_step=="step-3" %} selected {% endif %}>Step-3</option>                                            
                                    </select>
                                    {% if error.register_step is defined %}<code> {{ error.register_step}}</code> {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Sort Order <span class="symbol required"></span>
                                    </label>
                                    <input class="form-control" type="number" name="order" id="order" value="{{ post_data.order }}" placeholder="Sort Order">
                                    {% if error.order is defined %}<code> {{ error.order}}</code> {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Unique <span class="symbol required"></span>
                            </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" checked="checked" class="grey" value="1" name="unique_status" id="unique_status">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="grey" value="0" {% if post_data.unique_status==0 %} checked="checked" {% endif %} name="unique_status"  id="unique_status">
                                    Yes
                                </label>
                                {% if error.unique_status is defined %}<code> {{ error.unique_status}}</code> {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Data Type <span class="symbol required"></span>
                            </label>
                            <select name="data_types" id="data_types" class="form-control" >
                                <option value="">Select Data Type</option>
                                <option value="int" {% if post_data.data_types=="int" %} selected {% endif %}>Int</option>
                                <option value="double" {% if post_data.data_types=="double" %} selected {% endif %}>Double</option>
                                <option value="varchar" {% if post_data.data_types=="varchar" %} selected {% endif %}>Varchar</option>    
                                <option value="text" {% if post_data.data_types=="text" %} selected {% endif %}>Text</option>
                            </select>
                            {% if error.data_types is defined %}<code> {{ error.data_types}}</code> {% endif %}
                        </div>
                    </div>


                    <div class="col-md-6">

                        <div class="form-group" id="max_size_div">
                            <label class="control-label">
                                Data Type Max Size
                            </label>
                            <input type="number" placeholder="Data Type Max Size" class="form-control" id="data_type_max_size" name="data_type_max_size" value="{{ post_data.data_type_max_size }}">
                            {% if error.data_type_max_size is defined %}<code> {{ error.data_type_max_size}}</code> {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Default Value 
                            </label>
                            <input type="text" placeholder="Insert your Default Value" class="form-control" id="default_value" name="default_value" value="{{ post_data.default_value }}" >
                            {% if error.default_value is defined %}<code> {{ error.default_value}}</code> {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Field Type <span class="symbol required"></span>
                            </label>
                            <select name="field_type" id="field_type" class="form-control field_type" >
                                <option value="">Select Field Type</option>
                                <option value="text" {% if post_data.field_type=="text" %} selected {% endif %}>Text</option>
                                <option value="radio" {% if post_data.field_type=="radio" %} selected {% endif %}>Radio</option>
                                <option value="select_box" {% if post_data.field_type=="select_box" %} selected {% endif %}>Select Box</option>    
                                <option value="text_area" {% if post_data.field_type=="text_area" %} selected {% endif %}>Text Area</option>
                            </select>
                            {% if error.field_type is defined %}<code> {{ error.field_type}}</code> {% endif %}
                        </div>

                        <div id="radio_extras" style="display:none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Value 1 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" required  type="text" name="radio_value1" id="radio_value1" value="{{ post_data.radio_value1 }}" placeholder="Value 1">
                                        {% if error.radio_value1 is defined %}<code> {{ error.radio_value1}}</code> {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Value 2 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" required type="text" name="radio_value2" id="radio_value2" value="{{ post_data.radio_value2 }}" placeholder="Value 2">
                                        {% if error.radio_value2 is defined %}<code> {{ error.radio_value2}}</code> {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="selectbox_extras" style="display:none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 1 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" required type="text" name="select_option1" id="select_option1" placeholder="Option 1" value="{{ post_data.select_option1 }}">
                                        {% if error.select_option1 is defined %}<code> {{ error.select_option1}}</code> {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 2 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" required type="text" name="select_option2" id="select_option2" placeholder="Option 2" value="{{ post_data.select_option2 }}">
                                        {% if error.select_option2 is defined %}<code> {{ error.select_option2}}</code> {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 3 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" required type="text" name="select_option3" id="select_option3" placeholder="Option 3" value="{{ post_data.select_option3 }}">
                                        {% if error.select_option3 is defined %}<code> {{ error.select_option3}}</code> {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 4 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" required type="text" name="select_option4" id="select_option4" placeholder="Option 4" value="{{ post_data.select_option4 }}">
                                        {% if error.select_option4 is defined %}<code> {{ error.select_option4}}</code> {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                    </div>

                    {% if edit_status %}
                        {#<div class="col-md-2">
                            <button type="submit"class="btn btn-primary" name="update_cancel" id="update_cancel" value="Cancel">
                                Cancel <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>#}
                        <div class="col-md-2">
                            <button type="submit"class="btn btn-primary" name="update_field" id="update_field" value="Update">
                                Update <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    {% else %}
                        <div class="col-md-2">
                            <button type="submit"class="btn btn-primary" name="add_new" id="add_new" value="Add New">
                                Add New <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    {% endif %}


                </div>
                {{ form_close()|raw }}
            </div>
        </div>                                    
    </div>
</div>


{% if not edit_status and fields|length %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Register Fields <span class="text-bold"></span></h4>
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                                <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                                <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                                <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <hr>


                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="sample-table-1">
                            <thead>
                                <tr>                                    
                                    <th>Field Name</th>
                                    <th>Status</th>
                                    <th>Required</th>
                                    <th>Unique</th>
                                    <th>Placement</th>
                                    <th>Order</th>
                                    <th>Default Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for fld in fields %}
                                    <tr>                                        
                                        <td>{{ fld.field_name }}</td>
                                        <td>{{ fld.status }}</td>
                                        <td>
                                            {% if fld.required_status %} 
                                                Yes
                                            {% else %}
                                                No 
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if fld.unique_status %} 
                                                Yes
                                            {% else %}
                                                No 
                                            {% endif %}
                                        </td>
                                        <td>{{ fld.register_step }}</td>
                                        <td>{{ fld.order }}</td>
                                        <td>{{ fld.default_value }}</td>
                                        <td>
                                            {% if fld.editable_status %} 
                                                <a href="javascript:edit_field({{ fld.id }})" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                    {% if fld.status=='active' %} 
                                                    <a href="javascript:inactivate_field({{ fld.id }})" class="btn btn-xs btn-yellow tooltips" data-placement="top" data-original-title="Inactivate"><i class="fa fa-times fa fa-white"></i></a>
                                                    {% else %}
                                                    <a href="javascript:activate_field({{ fld.id }})" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Activate"><i class="glyphicon glyphicon-ok-sign"></i></a>
                                                    {% endif %}
                                                <a href="javascript:delete_field({{ fld.id }})" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash fa fa-white"></i></a>
                                                {% else %}
                                                No access
                                            {% endif %}



                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>



                    </div>




                </div>
            </div>                                    
        </div>
    </div>
{% endif %}
<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script src="assets/js/set_register_fields.js"></script>
{% include('admin/layout/footer.twig')%}
<script>
    jQuery(document).ready(function () {
        SVExamples.init();
        validate_add_field();
    });

    var validate_add_field = function () {
        var form = $('#add_field_form');
        var errorHandler2 = $('.errorHandler', form);
        var successHandler2 = $('.successHandler', form);
        form.validate({
            errorElement: "span", // contain the error msg in a small tag
            errorClass: 'help-block',
            errorPlacement: function (error, element) { // render error placement for each input type
                if (element.attr("type") == "radio" || element.attr("type") == "checkbox") { // for chosen elements, need to insert the error after the chosen container
                    error.insertAfter($(element).closest('.form-group').children('div').children().last());
                } else if (element.hasClass("ckeditor")) {
                    error.appendTo($(element).closest('.form-group'));
                } else {
                    error.insertAfter(element)// for other inputs, just perform default behavior
                }
            },
            ignore: ':hidden',
            rules: {
                field_name: {
                    required: true,
                    minlength: 3
                },
                required_status: {
                    required: true
                },
                register_step: {
                    required: true
                },
                order: {
                    required: true
                },
                unique_status: {
                    required: true
                },
                data_types: {
                    required: true
                },
                data_type_max_size: {
                    required: true
                },
                field_type: {
                    required: true
                },
            },
            messages: {
                field_name: "Please enter Field Name"
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                successHandler2.hide();
                errorHandler2.show();
            },
            highlight: function (element) {
                $(element).closest('.help-block').removeClass('valid');// display OK icon
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error').find('.symbol').removeClass('ok').addClass('required');
                // add the Bootstrap error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element).closest('.form-group').removeClass('has-error');
                // set error class to the control group
            },
            success: function (label, element) {
                label.addClass('help-block valid');
                // mark the current input as valid and display OK icon
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success').find('.symbol').removeClass('required').addClass('ok');
            },
            submitHandler: function (form) {
                successHandler2.show();
                errorHandler2.hide();

                form.submit();

            }
        });
    };

</script>
