{% include('admin/layout/header.twig')%}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Register Field Settings <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open('', ' id="add_field_form" name="add_field_form"')|raw }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i> You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i> Your form validation is successful!
                        </div>
                    </div>
                    <input type='hidden' id="edited_field" name="edited_field" value="{{edited_field}}"/>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Field Name <span class="symbol required"></span>
                            </label>
                            <input type="text" placeholder="Insert your Field Name" class="form-control" id="field_name" name="field_name" value="{{ post_data.field_name }}">
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Required <span class="symbol required"></span>
                            </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" checked="checked" class="grey" value="1" name="required_status" id="required_status">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {% if post_data.required_status==0 %} checked="checked" {% endif %} class="grey" value="0" name="required_status"  id="required_status">
                                    No
                                </label>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        Placement <span class="symbol required"></span>
                                    </label>
                                    <select name="register_step" id="register_step" class="form-control" >
                                        <option value="">Select Placement</option>
                                        <option value="step1" {% if post_data.register_step=="step1" %} selected {% endif %}>Step-1</option>
                                        <option value="step2" {% if post_data.register_step=="step2" %} selected {% endif %}>Step-2</option>
                                        <option value="step3" {% if post_data.register_step=="step3" %} selected {% endif %}>Step-3</option>                                            
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Sort Order <span class="symbol required"></span>
                                    </label>
                                    <input class="form-control" type="number" name="order" id="order" value="{{ post_data.order }}" placeholder="Sort Order">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Unique <span class="symbol required"></span>
                            </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" checked="checked" class="grey" value="1" name="unique_status" id="unique_status">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="grey" value="0" {% if post_data.unique_status==0 %} checked="checked" {% endif %} name="unique_status"  id="unique_status">
                                    Yes
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Data Type <span class="symbol required"></span>
                            </label>
                            <select name="data_types" id="data_types" class="form-control" >
                                <option value="">Select Data Type</option>
                                <option value="int" {% if post_data.data_types=="int" %} selected {% endif %}>Int</option>
                                <option value="double" {% if post_data.data_types=="double" %} selected {% endif %}>Double</option>
                                <option value="varchar" {% if post_data.data_types=="varchar" %} selected {% endif %}>Varchar</option>    
                                <option value="text" {% if post_data.data_types=="text" %} selected {% endif %}>Text</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-6">

                        <div class="form-group" id="max_size_div">
                            <label class="control-label">
                                Data Type Max Size<span class="symbol required"></span>
                            </label>
                            <input type="number" placeholder="Data Type Max Size" class="form-control" id="data_type_max_size" name="data_type_max_size" value="{{ post_data.data_type_max_size }}">
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Default Value <span class="symbol required"></span>
                            </label>
                            <input type="text" placeholder="Insert your Default Value" class="form-control" id="default_value" name="default_value" value="{{ post_data.default_value }}" >
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Field Type <span class="symbol required"></span>
                            </label>
                            <select name="field_type" id="field_type" class="form-control field_type" >
                                <option value="">Select Field Type</option>
                                <option value="text" {% if post_data.field_type=="text" %} selected {% endif %}>Text</option>
                                <option value="radio" {% if post_data.field_type=="radio" %} selected {% endif %}>Radio</option>
                                <option value="select_box" {% if post_data.field_type=="select_box" %} selected {% endif %}>Select Box</option>    
                                <option value="text_area" {% if post_data.field_type=="text_area" %} selected {% endif %}>Text Area</option>
                            </select>
                        </div>

                        <div id="radio_extras" style="display:none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Value 1 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" type="text" name="radio_value1" id="radio_value1" value="{{ post_data.radio_value1 }}" placeholder="Value 1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Value 2 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" type="text" name="radio_value2" id="radio_value2" value="{{ post_data.radio_value2 }}" placeholder="Value 2">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="selectbox_extras" style="display:none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 1 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" type="text" name="select_option1" id="select_option1" placeholder="Option 1" value="{{ post_data.select_option1 }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 2 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" type="text" name="select_option2" id="select_option2" placeholder="Option 2" value="{{ post_data.select_option2 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 3 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" type="text" name="select_option3" id="select_option3" placeholder="Option 3" value="{{ post_data.select_option3 }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Option 4 <span class="symbol required"></span>
                                        </label>
                                        <input class="form-control" type="text" name="select_option4" id="select_option4" placeholder="Option 4" value="{{ post_data.select_option4 }}">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                    </div>

                    {% if edit_status %}
                        <div class="col-md-2">
                            <button type="submit"class="btn btn-primary" name="update_cancel" id="update_cancel" value="Cancel">
                                Cancel
                            </button>
{#                            <input type="submit" name="update_cancel" id="update_cancel" value="Cancel" class="btn btn-yellow btn-block" />#}
                        </div>
                        <div class="col-md-2">
                            <button type="submit"class="btn btn-primary" name="update_field" id="update_field" value="Update">
                                Update
                            </button>
{#                            <input type="submit" name="update_field" id="update_field" value="Update" class="btn btn-yellow btn-block" />#}
                        </div>
                    {% else %}
                        <div class="col-md-2">
                            <button type="submit"class="btn btn-primary" name="add_new" id="add_new" value="Add New">
                                Add New
                            </button>
{#                            <input type="submit" name="add_new" id="add_new" value="Add New" class="btn btn-yellow btn-block" />#}
                        </div>
                    {% endif %}


                </div>
                {{ form_close()|raw }}
            </div>
        </div>                                    
    </div>
</div>


{% if not edit_status and fields|length %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Register Fields <span class="text-bold"></span></h4>
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                                <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                                <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                                <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <hr>


                    <div class="table-responsive">
                        <input type='hidden' id="soft_path" name="soft_path" value="{{BASE_URL}}"/>
                        <table class="table table-bordered table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th class="center">
                            <div class="checkbox-table">
                                <label>
                                    <input type="checkbox" class="flat-grey selectall">
                                </label>
                            </div>
                            </th>
                            <th>Field Name</th>
                            <th>Status</th>
                            <th>Required</th>
                            <th>Unique</th>
                            <th>Placement</th>
                            <th>Order</th>
                            <th>Default Value</th>
                            <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for fld in fields %}
                                    <tr>
                                        <td class="center">
                                            <div class="checkbox-table">
                                                <label>
                                                    <input type="checkbox" class="flat-grey foocheck" id="{{ fld.id }}" name="{{ fld.id }}">
                                                </label>
                                            </div></td>
                                        <td>{{ fld.field_name }}</td>
                                        <td>{{ fld.status }}</td>
                                        <td>
                                            {% if fld.required_status %} 
                                                Yes
                                            {% else %}
                                                No 
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if fld.unique_status %} 
                                                Yes
                                            {% else %}
                                                No 
                                            {% endif %}
                                        </td>
                                        <td>{{ fld.register_step }}</td>
                                        <td>{{ fld.order }}</td>
                                        <td>{{ fld.default_value }}</td>
                                        <td>
                                            {% if fld.editable_status %} 
                                                <a href="javascript:edit_prod({{ fld.id }})" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                {% if fld.status=='active' %} 
                                                    <a href="javascript:inactivate_prod({{ fld.id }})" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Inactivate"><i class="fa fa-times fa fa-white"></i></a>
                                                {% else %}
                                                    <a href="javascript:activate_prod({{ fld.id }})" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Activate"><i class="glyphicon glyphicon-ok-sign"></i></a>
                                                {% endif %}
                                                <a href="javascript:delete_prod({{ fld.id }})" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash fa fa-white"></i></a>
                                            {% else %}
                                                No access
                                            {% endif %}



                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>



                    </div>




                </div>
            </div>                                    
        </div>
    </div>
    <link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
    <script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>

{% endif %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>         




<script>

    $(document).ready(function () {
        var field_type = $('#field_type').val();
        var data_types = $('#data_types').val();

        if (field_type == "radio") {
            $("#radio_extras").show();
        }

        if (field_type == "select_box") {
            $("#selectbox_extras").show();
        }

        if (data_types == "double" || data_types == "text") {
            $("#max_size_div").hide();
        }
    });

    $('#field_type').change(function () {
        $("#radio_extras").hide();
        $("#selectbox_extras").hide();
        var type = $(this).val();

        if (type == "radio") {
            $("#radio_extras").show();
        }

        if (type == "select_box") {
            $("#selectbox_extras").show();
        }
    });

    $('#data_types').change(function () {
        var type = $(this).val();
        $("#max_size_div").show();
        if (type == "double" || type == "text") {
            $("#max_size_div").hide();
        }
    });


    function edit_prod(id)
    {
        var soft_path = $("#soft_path").val();
        swal({
            title: "Are you sure?",
            text: "New change applicable only new registrations",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Edit it!",
            cancelButtonText: "No, Cancel pls!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                document.location.href = soft_path + 'admin/configuration/set_register_fields/edit/' + id;
            } else {
                swal("Cancelled", "Your Field is safe :)", "error");
            }
        });

        e.preventDefault();
    }

    function activate_prod(id)
    {
        var soft_path = $("#soft_path").val();
        swal({
            title: "Are you sure?",
            text: "New change applicable only new registrations",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Activate it!",
            cancelButtonText: "No, Cancel pls!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                document.location.href = soft_path + 'admin/configuration/set_register_fields/activate/' + id;
            } else {
                swal("Cancelled", "Your Field is safe :)", "error");
            }
        });

        e.preventDefault();
    }


    function inactivate_prod(id)
    {
        var soft_path = $("#soft_path").val();
        swal({
            title: "Are you sure?",
            text: "New change applicable only new registrations",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Inactivate it!",
            cancelButtonText: "No, Cancel pls!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                document.location.href = soft_path + 'admin/configuration/set_register_fields/inactivate/' + id;
            } else {
                swal("Cancelled", "Your Field is safe :)", "error");
            }
        });

        e.preventDefault();
    }


    function delete_prod(id)
    {
        var soft_path = $("#soft_path").val();
        swal({
            title: "Are you sure?",
            text: "New change applicable only new registrations",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Delete it!",
            cancelButtonText: "No, Cancel pls!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                document.location.href = soft_path + 'admin/configuration/set_register_fields/delete/' + id;
            } else {
                swal("Cancelled", "Your Field is safe :)", "error");
            }
        });

        e.preventDefault();
    }


</script>


{% include('admin/layout/footer.twig')%}