{% include('admin/layout/header.twig')%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Backup <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: FAQ -->
                        <div class="tabbable tabs-left faq">
                            <ul id="myTab3" class="nav nav-tabs">
                                <li class="{{tab1}}">
                                    <a href="#backup_tab1" data-toggle="tab">
                                        <i class="fa fa-gears"> </i>Backup Settings 
                                    </a>
                                </li>
                                <li class="{{tab2}}">
                                    <a href="#backup_tab2" data-toggle="tab">
                                        <i class="fa fa-fire"> </i> DataBase Backup
                                    </a>
                                </li>
                                <li class="{{tab3}}">
                                    <a href="#backup_tab3" data-toggle="tab">
                                        <i class="fa fa-database"> </i> Databases
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane {{tab1}}" id="backup_tab1">
                                    <div id="accordion" class="panel-group accordion accordion-custom accordion-teal">

                                        <h3 class="margin-bottom-15">Backup Settings</h3>

                                        <br>
                                        {{ form_open('', ' id="add_field_form" name="add_field_form"')|raw }}
                                        <div class="form-horizontal">
                                            <div class="errorHandler alert alert-danger no-display">
                                                <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Backup File Type
                                                </label>
                                                <div class="col-sm-4">
                                                    <select name="backup_type" id="backup_type" class="form-control field_type" >
                                                        <option value="">Select Backup Type</option>
                                                        <option value="sql" {% if backup_type=="sql" %} selected {% endif %}>Sql</option>
                                                        <option value="zip" {% if backup_type=="zip" %} selected {% endif %}>Zip</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Deletion Period (Days)
                                                </label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" type="number" name="backup_deletion_period" id="backup_deletion_period" value="{{ backup_deletion_period }}"> 
                                                </div>
                                            </div>        



                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">

                                                </label>
                                                <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-primary" value="db_settings" name="db_settings">
                                                        Update <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_close()|raw }}
                                    </div>
                                </div>
                                <div class="tab-pane {{tab2}}" id="backup_tab2">
                                    <div id="accordion2" class="panel-group accordion accordion-custom accordion-teal">
                                        <h3 class="margin-bottom-15"> DataBase Backup</h3>
                                        <br>
                                        <div class="form-horizontal">
                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> Notice!</h4>
                                                <p>
                                                    Click Backup Button For backup Current Database or Select the Third tab to View the Existing Backups
                                                </p>
                                                <p>
                                                    <a href="javascript:generate_backup()" class="btn btn-yellow tab-pane">
                                                        Backup
                                                    </a>
                                                    {#<a href="javascript:generate_backup()" class="btn btn-light-grey">
                                                        Backup
                                                    </a>#}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane {{tab3}}" id="backup_tab3">
                                    <div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
                                        <h3 class="margin-bottom-15">Databases</h3>
                                        <br>
                                        <div class="form-horizontal">
                                            <table class="table table-bordered table-hover" id="sample-table-1">
                                                <thead>
                                                    <tr>
                                                        <th>Download Link</th>
                                                        <th>Done By</th>
                                                        <th>Date</th>
                                                        <th>Filename</th>
                                                            {#                                                        <th>Full Path</th>                                                       #}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for bp in backups %}
                                                        <tr>
                                                            <td><a href="admin/backup/download_db/{{ bp.file_name }}" download="proposed_file_name">
                                                                    <i class="fa fa-download fa-fw"></i>Download
                                                                </a>
                                                            </td>
                                                            <td>{{ bp.done_by }}</td>
                                                            <td>{{ bp.date }}</td>
                                                            <td>{{ bp.file_name }}</td>
                                                            {#                                                            <td>{{ bp.full_path }}</td>#}
                                                        </tr>
                                                    {% endfor %}                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script src="assets/js/backup.js"></script>

<script>
    $(document).ready(function () {
        valBackup();
    });
</script>
{% include('admin/layout/footer.twig')%}