{% include('user/layout/header.twig')%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">E-Pin Management <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="panel panel-white panel-tabs">
                    <div class="panel-heading">
                        <h4 class="panel-title">E-Pin <span class="text-bold">Tabs</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#epin_tab1">
                                        Request Pins
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#epin_tab2">
                                        Previous Requests <span class="badge badge-danger">{{ pin_request|length }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#epin_tab3">
                                        Active Pins <span class="badge badge-danger">{{ active_pin|length }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#epin_tab4">
                                        Used Pins <span class="badge badge-danger">{{ used_pin|length }}</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="epin_tab1" class="tab-pane fade in active">

                                    {{ form_open('', ' id="pin_request" name="pin_request"')|raw }}
                                    <div class="form-horizontal">
                                        <div class="errorHandler alert alert-danger no-display">
                                            <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Pin Amount
                                            </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" type="number" name="pin_amount" id="pin_amount">
                                                {% if pin_error.pin_amount is defined %}<code> {{ pin_error.pin_amount}} </code> {% endif %} 

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Pin Count
                                            </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" type="number" name="pin_count" id="pin_count">
                                                {% if pin_error.pin_count is defined %}<code> {{ pin_error.pin_count}} </code> {% endif %} 
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">

                                            </label>
                                            <div class="col-sm-4">
                                                <button type="submit"class="btn btn-primary" value="add_request" name="add_request">
                                                    Update <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_close()|raw }}

                                </div>
                                <div id="epin_tab2" class="tab-pane fade">
                                    {% if pin_request|length %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" id="sample-table-1">
                                                <thead>
                                                    <tr>                                    
                                                        <th>SlNo</th>
                                                        <th>Pin Amount</th>
                                                        <th>Pin Count</th>
                                                        <th>Requested Date</th>   
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for pr in pin_request %}
                                                        <tr>                                        
                                                            <td>{{ pr.slno }}</td>
                                                            <td>{{ pr.amount }}</td>
                                                            <td>{{ pr.count }}</td>
                                                            <td>{{ pr.date }}</td>
                                                            <td>{{ pr.status }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <h4 align="center">No Data</h4>
                                    {% endif%}     
                                </div>
                                <div id="epin_tab3" class="tab-pane fade">
                                    {% if active_pin|length %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" id="sample-table-1">
                                                <thead>
                                                    <tr>                                    
                                                        <th>SlNo</th>
                                                        <th>Pin Number</th>
                                                        <th>Pin Amount</th>
                                                        <th>Balance Amount</th>
                                                        <th>Allocate Date</th>
                                                        <th>Expiry Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for ap in active_pin %}
                                                        <tr>                                        
                                                            <td>{{ ap.slno }}</td>
                                                            <td>{{ ap.pin_number }}</td>
                                                            <td>{{ ap.allocate_amount }}</td>
                                                            <td>{{ ap.balance_amount }}</td>
                                                            <td>{{ ap.allocate_date }}</td>
                                                            <td>{{ ap.expiry_date }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <h4 align="center">No Data</h4>
                                    {% endif%}   
                                </div>
                                <div id="epin_tab4" class="tab-pane fade">
                                    {% if used_pin|length %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" id="sample-table-1">
                                                <thead>
                                                    <tr>                                    
                                                        <th>SlNo</th>
                                                        <th>Pin Number</th>
                                                        <th>Pin Amount</th>
                                                        <th>Balance Amount</th>
                                                        <th>Used For</th>
                                                        <th>Used By</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for up in used_pin %}
                                                        <tr>                                        
                                                            <td>{{ up.slno }}</td>
                                                            <td>{{ up.pin_number }}</td>
                                                            <td>{{ up.allocate_amount }}</td>
                                                            <td>{{ up.balance_amount }}</td>
                                                            <td>{{ up.used_for }}</td>
                                                            <td>{{ up.used_by }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <h4 align="center">No Data</h4>
                                    {% endif%} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                    
    </div>
</div>
{% include('user/layout/footer.twig')%}

<script>
    jQuery(document).ready(function () {
        validate_add_request();
    });
    var validate_add_request = function () {
        var form = $('#pin_request');
        var errorHandler2 = $('.errorHandler', form);
        var successHandler2 = $('.successHandler', form);
        form.validate({
            errorElement: "span", // contain the error msg in a small tag
            errorClass: 'help-block',
            errorPlacement: function (error, element) { // render error placement for each input type
                if (element.attr("type") == "radio" || element.attr("type") == "checkbox") { // for chosen elements, need to insert the error after the chosen container
                    error.insertAfter($(element).closest('.form-group').children('div').children().last());
                } else if (element.hasClass("ckeditor")) {
                    error.appendTo($(element).closest('.form-group'));
                } else {
                    error.insertAfter($(element).closest('.form-group').children('div').children().last());
                }
            },
            ignore: ':hidden',
            rules: {
                pin_amount: {
                    required: true,
                    number: true,
                    min: 1
                },
                pin_count: {
                    required: true,
                    digits: true
                },
            },
            messages: {
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                successHandler2.hide();
                errorHandler2.show();
            },
            highlight: function (element) {
                $(element).closest('.help-block').removeClass('valid');// display OK icon
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error').find('.symbol').removeClass('ok').addClass('required');
                // add the Bootstrap error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element).closest('.form-group').removeClass('has-error');
                // set error class to the control group
            },
            success: function (label, element) {
                label.addClass('help-block valid');
                // mark the current input as valid and display OK icon
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success').find('.symbol').removeClass('required').addClass('ok');
            },
            submitHandler: function (form) {
                successHandler2.show();
                errorHandler2.hide();

                form.submit();

            }
        });
    };

    < script >
