{% include('user/layout/header.twig')%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Fund Transfer <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>


                {{ form_open('', ' id="transfer_fund_form" name="transfer_fund_form"')|raw }}
                <div class="form-horizontal">  
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                    </div>
                    <div class="form-group" id="from_user_balance_div">
                        <label class="col-sm-3 control-label">
                            User Balance
                        </label>
                        <div class="col-sm-3">
                            <input readonly class="form-control" type="text" value="{{ user_balance }}">                                                
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            To Username <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="to_username" id="to_username">
                            {% if error.to_username is defined %}<code> {{ error.to_username}} </code> {% endif %} 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Amount <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="number" name="amount_trans" id="amount_trans">
                            {% if error.amount_trans is defined %}<code> {{ error.amount_trans}} </code> {% endif %} 

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Transaction Password <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="password" name="transaction_password" id="transaction_password">
                            {% if error.transaction_password is defined %}<code> {{ error.transaction_password}} </code> {% endif %} 

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            <button type="submit"class="btn btn-primary" value="trans_button" name="trans_button">
                                Transfer <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_close()|raw }}


            </div>
        </div>                                    
    </div>
</div>
{% include('user/layout/footer.twig')%}
<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script>
    jQuery(document).ready(function () {
        validate_trans_fund();
    });

    $.validator.addMethod("validUsername", function () {
        var isSuccess = false;
        $.ajax({url: "register/validate_sponsor",
            data: {username: $("#to_username").val()},
            async: false,
            success:
                    function (msg) {
                        isSuccess = msg === "yes" ? true : false
                    }
        });
        return isSuccess;
    }, "Sorry, Invalid Username");
    
    $.validator.addMethod("validTranPassword", function () {
        var isSuccess = false;
        $.ajax({url: "user/wallet/validate_tran_password",
            data: {transaction_password: $("#transaction_password").val()},
            async: false,
            success:
                    function (msg) {
                        isSuccess = msg === "yes" ? true : false
                    }
        });
        return isSuccess;
    }, "Sorry, Invalid Transaction Password");

    var validate_trans_fund = function () {
        var form = $('#transfer_fund_form');
        var errorHandler2 = $('.errorHandler', form);
        var successHandler2 = $('.successHandler', form);
        form.validate({
            errorElement: "span", // contain the error msg in a small tag
            errorClass: 'help-block',
            errorPlacement: function (error, element) { // render error placement for each input type
                if (element.attr("type") == "radio" || element.attr("type") == "checkbox") { // for chosen elements, need to insert the error after the chosen container
                    error.insertAfter($(element).closest('.form-group').children('div').children().last());
                } else if (element.hasClass("ckeditor")) {
                    error.appendTo($(element).closest('.form-group'));
                } else {
                    error.insertAfter($(element).closest('.form-group').children('div').children().last());
                }
            },
            ignore: ':hidden',
            rules: {
                to_username: {
                    validUsername: true,
                    required: true,
                    minlength: 3
                },
                amount_trans: {
                    required: true,
                    number: true,
                    min: 1
                },
                transaction_password: {
                    required: true,
                    validTranPassword:true
                }
            },
            messages: {
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                successHandler2.hide();
                errorHandler2.show();
            },
            highlight: function (element) {
                $(element).closest('.help-block').removeClass('valid');// display OK icon
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error').find('.symbol').removeClass('ok').addClass('required');
                // add the Bootstrap error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element).closest('.form-group').removeClass('has-error');
                // set error class to the control group
            },
            success: function (label, element) {
                label.addClass('help-block valid');
                // mark the current input as valid and display OK icon
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success').find('.symbol').removeClass('required').addClass('ok');
            },
            submitHandler: function (form) {
                successHandler2.show();
                errorHandler2.hide();

                form.submit();

            }
        });
    };
</script>