{% include('admin/layout/header.twig')%}

<div class="col-sm-12">
    <!-- start: FORM WIZARD PANEL -->
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="text-bold"> {{ lang('advanced_registration') }} </span></h4>
            <div class="panel-tools">
                <div class="dropdown">
                    <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                        <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                        <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                        <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>{{ lang('config') }}</span></a></li>
                        <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                    </ul>
                </div>
                <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">

            <div id="term_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ lang('terms_condition')}}</h4>
                        </div>
                        <div class="modal-body">

                            {{terms_and_condition}}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


            <div id="privacy_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ lang('privacy_policy')}}</h4>
                        </div>
                        <div class="modal-body">

                            {{privacy_policy}}

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


            {{ form_open('', ' class="smart-wizard form-horizontal" id="form" name="form"')|raw }}
            <div id="wizard" class="swMain">
                <ul>
                    <li>
                        <a href="#step-1">
                            <div class="stepNumber">
                                1
                            </div>
                            <span class="stepDesc">{{ lang('step-1') }}
                                <br />
                                <small>{{ lang('sponsor_info') }}</small> </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <div class="stepNumber">
                                2
                            </div>
                            <span class="stepDesc"> {{ lang('step-2') }}
                                <br />
                                <small>{{ lang('personal_info') }}</small> </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <div class="stepNumber">
                                3
                            </div>
                            <span class="stepDesc"> {{ lang('stpe-3') }}
                                <br />
                                <small>{{ lang('billing_info') }} </small> </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <div class="stepNumber">
                                4
                            </div>
                            <span class="stepDesc"> {{ lang('step-4') }} 
                                <br />
                                <small>{{ lang('payment_options') }}</small> </span>
                        </a>
                    </li>
                </ul>
                <div class="progress progress-xs transparent-black no-radius active">
                    <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar partition-green step-bar">
                        <span class="sr-only"> 0% Complete (success)</span>
                    </div>
                </div>
                <div id="step-1">
                    <h2 class="StepTitle">{{ lang('sponsor_info') }}</h2>

                    {% for fld in fields['step-1'] %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                {{ lang(fld.field_name) }} : {% if fld.required_status %} <span class="symbol required"></span> {% endif %}
                            </label>
                            <div class="col-sm-7">

                                {% if fld.field_type=='radio' %}
                                    <label class="radio-inline">
                                        <input type="radio" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{fld.radio_value1}}"  {% if register_data[fld.field_name]==fld.radio_value1 %} checked {% endif %} class="grey" {% if fld.required_status %} required {% endif %} >
                                        {{ lang(fld.radio_value1)}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{fld.radio_value2}}"  {% if register_data[fld.field_name]==fld.radio_value2 %} checked {% endif %} class="grey" {% if fld.required_status %} required {% endif %} >
                                        {{lang(fld.radio_value2)}}
                                    </label>                                    
                                {% elseif fld.field_type=='select_box' %}
                                    <span id="{{ fld.field_name }}_span">
                                        <select class="form-control" id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %}>
                                            <option value="">{{lang('select_a')}}  {{ lang(fld.field_name) }}</option>
                                            {% for selec in fld.select_box_values %}
                                                <option value="{{selec.id}}" {% if register_data[fld.field_name] == fld.select_option1 %} selected {% endif %} >{{selec.name}}</option>
                                            {% endfor %}

                                        </select>   
                                    </span>
                                {% elseif fld.field_type=='text_area' %}

                                    <textarea id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %}>
                                        {{ register_data[fld.field_name] }}
                                    </textarea> 

                                {% elseif fld.field_type=='password' %}
                                    {#<div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>#}
                                    <span class="input-icon">
                                        <input type="password" class="form-control input-lg password_reset" type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %} >
                                        <div class="pwstrength_viewport_progress"></div>
                                    </span>
                                {% elseif fld.field_type=='confirm_password' %}
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>
                                {% elseif fld.field_type=='checkbox' %}
                                    <input type="checkbox" class="grey agree" id="{{ fld.field_name }}" name="{{ fld.field_name }}" >
                                    I agree to the Terms of Service and Privacy Policy
                                {% elseif fld.field_type=='text' %}
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="text" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{ register_data[fld.field_name] }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>

                                {% endif %}
                                {% if register_error[fld.field_name] is defined %}<code> {{ register_error[fld.field_name] }} </code> {% endif %}
                            </div>
                        </div>
                    {% endfor %}



                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-7">
                            <input type="checkbox" class="grey agree" id="privacy_policy" name="privacy_policy">
                            <a href="#" data-toggle="modal" data-target="#privacy_modal">{{ lang('agree_to_the_privacy_policy') }}</a>
                            {% if register_error.privacy_policy is defined %}<code> {{ register_error.privacy_policy}} </code> {% endif %}    

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-8">
                            <button class="btn btn-blue next-step btn-block">
                                {{ lang('next') }}  <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="step-2">
                    <h2 class="StepTitle">{{ lang('personal_info') }}</h2>





                    {% for fld in fields['step-2'] %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                {{ lang(fld.field_name) }} : {% if fld.required_status %} <span class="symbol required"></span> {% endif %}
                            </label>
                            <div class="col-sm-7">

                                {% if fld.field_type=='radio' %}
                                    <label class="radio-inline">
                                        <input type="radio" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{fld.radio_value1}}"  {% if register_data[fld.field_name]==fld.radio_value1 %} checked {% endif %} class="grey" {% if fld.required_status %} required {% endif %} >
                                        {{ lang(fld.radio_value1)}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{fld.radio_value2}}"  {% if register_data[fld.field_name]==fld.radio_value2 %} checked {% endif %} class="grey" {% if fld.required_status %} required {% endif %} >
                                        {{lang(fld.radio_value2)}}
                                    </label>                                    
                                {% elseif fld.field_type=='select_box' %}
                                    <span id="{{ fld.field_name }}_span">
                                        <select class="form-control" id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %}>
                                            <option value="">{{lang('select_a')}}  {{ lang(fld.field_name) }}</option>
                                            {% for selec in fld.select_box_values %}
                                                <option value="{{selec.id}}" {% if register_data[fld.field_name] == fld.select_option1 %} selected {% endif %} >{{selec.name}}</option>
                                            {% endfor %}

                                        </select> 
                                    </span>
                                {% elseif fld.field_type=='text_area' %}

                                    <textarea id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %}>
                                        {{ register_data[fld.field_name] }}
                                    </textarea> 

                                {% elseif fld.field_type=='password' %}
                                    {#<div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>#}

                                    <span class="input-icon">
                                        <input type="password" class="form-control input-lg password_reset" type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %} >
                                        <div class="pwstrength_viewport_progress"></div>
                                    </span>
                                        
                                {% elseif fld.field_type=='confirm_password' %}
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>
                                {% elseif fld.field_type=='checkbox' %}
                                    <input type="checkbox" class="grey agree" id="{{ fld.field_name }}" name="{{ fld.field_name }}" >
                                    I agree to the Terms of Service and Privacy Policy
                                {% elseif fld.field_type=='text' %}
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="text" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{ register_data[fld.field_name] }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>

                                {% endif %}
                                {% if register_error[fld.field_name] is defined %}<code> {{ register_error[fld.field_name] }} </code> {% endif %}
                            </div>
                        </div>
                    {% endfor %}                      

                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-3">
                            <button class="btn btn-light-grey back-step btn-block">
                                <i class="fa fa-circle-arrow-left"></i> {{ lang('back') }} 
                            </button>
                        </div>
                        <div class="col-sm-2 col-sm-offset-3">
                            <button class="btn btn-blue next-step btn-block">
                                {{ lang('next') }}  <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="step-3">
                    <h2 class="StepTitle">{{ lang('billing_info') }}</h2>

                    {% for fld in fields['step-3'] %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                {{ lang(fld.field_name) }} : {% if fld.required_status %} <span class="symbol required"></span> {% endif %}
                            </label>
                            <div class="col-sm-7">

                                {% if fld.field_type=='radio' %}
                                    <label class="radio-inline">
                                        <input type="radio" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{fld.radio_value1}}"  {% if register_data[fld.field_name]==fld.radio_value1 %} checked {% endif %} class="grey" {% if fld.required_status %} required {% endif %} >
                                        {{ lang(fld.radio_value1)}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{fld.radio_value2}}"  {% if register_data[fld.field_name]==fld.radio_value2 %} checked {% endif %} class="grey" {% if fld.required_status %} required {% endif %} >
                                        {{lang(fld.radio_value2)}}
                                    </label>                                    
                                {% elseif fld.field_type=='select_box' %}
                                    <span id="{{ fld.field_name }}_span">
                                        <select class="form-control" id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %}>
                                            <option value="">{{lang('select_a')}}  {{ lang(fld.field_name) }}</option>
                                            {% for selec in fld.select_box_values %}
                                                <option value="{{selec.id}}" {% if register_data[fld.field_name] == fld.select_option1 %} selected {% endif %} >{{selec.name}}</option>
                                            {% endfor %}

                                        </select>   
                                    </span>
                                {% elseif fld.field_type=='text_area' %}

                                    <textarea id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %}>
                                        {{ register_data[fld.field_name] }}
                                    </textarea> 

                                {% elseif fld.field_type=='password' %}
                                    {#<div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" class="form-control"  {% if fld.required_status %} required {% endif %}>

                                    </div>#}
                                    <span class="input-icon">
                                        <input type="password" class="form-control input-lg password_reset" type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" {% if fld.required_status %} required {% endif %} >
                                        <div class="pwstrength_viewport_progress"></div>
                                    </span>
                                {% elseif fld.field_type=='confirm_password' %}
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="password" id="{{ fld.field_name }}" name="{{ fld.field_name }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>
                                {% elseif fld.field_type=='checkbox' %}
                                    <input type="checkbox" class="grey agree" id="{{ fld.field_name }}" name="{{ fld.field_name }}" >
                                    I agree to the Terms of Service and Privacy Policy
                                {% elseif fld.field_type=='text' %}
                                    <div class="input-group">
                                        <span class="input-group-addon"> <i class="fa {{ fld.icon }}"></i> </span>
                                        <input type="text" id="{{ fld.field_name }}" name="{{ fld.field_name }}" value="{{ register_data[fld.field_name] }}" class="form-control"  {% if fld.required_status %} required {% endif %}>
                                    </div>

                                {% endif %}
                                {% if register_error[fld.field_name] is defined %}<code> {{ register_error[fld.field_name] }} </code> {% endif %}
                            </div>
                        </div>
                    {% endfor %}                       


                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-3">
                            <button class="btn btn-light-grey back-step btn-block">
                                <i class="fa fa-circle-arrow-left"></i> {{ lang('back') }} 
                            </button>
                        </div>
                        <div class="col-sm-2 col-sm-offset-3">
                            <button class="btn btn-blue next-step btn-block">
                                {{ lang('next') }}  <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>



                <div id="step-4">
                    <h2 class="StepTitle">{{ lang('payment_options')}}</h2>
                    <h4 align="center">{{lang('register_fee')}}: {{ entry_fee }}</h4>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-7">
                            <input type="checkbox" {% if register_data.sponser_name %} checked {% endif %} class="grey agree" id="agree" name="agree">
                            <a href="#" data-toggle="modal" data-target="#privacy_modal">{{ lang('agree_to_the_privacy_policy') }}</a>
                            {% if register_error.agree is defined %}<code> {{ register_error.agree}} </code> {% endif %}    

                        </div>
                    </div>

                    <div class="tabbable">
                        <ul id="myTab" class="nav nav-tabs"> 
                            {% if free_registration %}
                                <li class="{{ free_registration_tab }}">
                                    <a href="#free_registration_tab" data-toggle="tab">
                                        <i class="green fa fa-credit-card"></i> {{lang('free_registration')}}
                                    </a>
                                </li>
                            {% endif %}

                            {% if bank_transfer %}
                                <li class="{{ bank_transfer_tab }}">
                                    <a href="#bank_transfer_tab" data-toggle="tab">
                                        <i class="green fa fa-credit-card"></i> {{lang('bank_transfer')}}
                                    </a>
                                </li>
                            {% endif %}

                            {% if ewallet %}
                                <li class="{{ ewallet_tab }}">
                                    <a href="#ewallet_tab" data-toggle="tab">
                                        <i class="green fa fa-credit-card"></i> {{lang('ewallet')}}
                                    </a>
                                </li>
                            {% endif %}


                            {% if epin %}
                                <li class="{{ epin_tab }}">
                                    <a href="#epin_tab" data-toggle="tab">
                                        <i class="green fa fa-credit-card"></i> {{lang('epin')}}
                                    </a>
                                </li>
                            {% endif %}


                        </ul>
                        <div class="tab-content">
                            {% if free_registration %}
                                <div class="tab-pane fade in {{ free_registration_tab }}" id="free_registration_tab">
                                    <p>
                                        {{lang('free_register_notification')}}
                                    </p>

                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-light-grey back-step btn-block">
                                                <i class="fa fa-circle-arrow-left"></i> {{ lang('back')}}
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button type="submit"class="btn btn-primary" value="free_registration" name="add_user">
                                                {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            {% endif %}


                            {% if bank_transfer %}
                                <div class="tab-pane fade in {{ bank_transfer_tab }}" id="bank_transfer_tab">
                                    <p>
                                        {{lang('bank_transfer_notification')}}
                                    </p>
                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-light-grey back-step btn-block">
                                                <i class="fa fa-circle-arrow-left"></i> {{ lang('back')}}
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button type="submit"class="btn btn-primary" value="bank_transfer" name="add_user">
                                                {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}


                            {% if ewallet %}
                                <div class="tab-pane fade in {{ ewallet_tab }}" id="ewallet_tab">
                                    <p>
                                        {{lang('ewallet_notification')}}
                                    </p>
                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-light-grey back-step btn-block">
                                                <i class="fa fa-circle-arrow-left"></i> {{ lang('back')}}
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button type="submit"class="btn btn-primary" value="ewallet" name="add_user">
                                                {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}

                            {% if epin %}
                                <div class="tab-pane fade in {{ epin_tab }}" id="epin_tab">
                                    <p>
                                        {{lang('epin_notification')}}
                                    </p>
                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button class="btn btn-light-grey back-step btn-block">
                                                <i class="fa fa-circle-arrow-left"></i> {{ lang('back')}}
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-3">
                                            <button type="submit"class="btn btn-primary" value="epin" name="add_user">
                                                {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>                
                {{ form_close()|raw }} 
            </div>
        </div>
        <!-- end: FORM WIZARD PANEL -->
    </div>
</div>
{% include('admin/layout/footer.twig')%}
<script src="assets/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<script src="assets/js/advanced_form-wizard.js"></script>
<script src="assets/js/pwdchecker.js"></script>
<script>
    jQuery(document).ready(function () {
        AdvanceWizard.init();
    });


    $('#country').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        $.ajax({url: "register/get_states",
            data: {country_id: valueSelected},
            async: false,
            success: function (msg) {
                $('#state_span').html(msg);
            }
        });

    });


</script>