{% if loggeg_user %}
    {% include('admin/layout/header.twig')%}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title"><span class="text-bold">{{ lang('single_step_registration') }} </span></h4>
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                                <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                                <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>{{ lang('config') }}</span></a></li>
                                <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <hr>



                    <div class="box-register" id="rcorners3" style="width: 50%;margin:0 auto;">
                    {% else %}
                        {% include('layout/header.twig')%}
                        <div class="row">
                            <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                                <div class="logo">
                                    <img src="assets/images/logo.png">
                                </div>
                                <!-- start: LOGIN BOX -->
                                <div class="box-login">
                                    <h3>{{ lang('sign_in_to_ur_account') }}</h3>
                                    <p>
                                        {{ lang('single_step_registration') }}
                                    </p>

                                {% endif %}

                                {{ form_open('', ' id="single_step_form" name="single_step_form"')|raw }}
                                <div class="errorHandler alert alert-danger no-display">
                                    <i class="fa fa-remove-sign"></i>{{ lang('form_error_msg') }}
                                </div>
                                <fieldset>

                                    <div class="form-group tooltips" data-placement="top" data-original-title="{{lang('enter_a_sponser_name_for_joining')}}">
                                        <span class="input-icon">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-user-plus"></i> </span>
                                                <input type="text" class="form-control" name="sponser_name" id="sponser_name" value="{{ register_data.sponser_name }}" placeholder="{{ lang('sponser_name') }}">
                                            </div> 
                                        </span>
                                        {% if register_error.sponser_name is defined %}<code> {{ register_error.sponser_name}} </code> {% endif %} 
                                    </div>

                                    {% if leg_status %}
                                        <div class="form-group tooltips" data-placement="top" data-original-title="{{lang('enter_a_leg_for_registration')}}">
                                            <span class="input-icon">
                                                <select class="form-control" id="register_leg" name="register_leg">
                                                    <option value="">{{ lang('select_a_register_leg')}}</option>
                                                    <option value="L" {% if register_data.register_leg=='L' %} selected {% endif %}>{{lang('left')}}</option>
                                                    <option value="R" {% if register_data.register_leg=='R' %} selected {% endif %}>{{lang('right')}}</option>

                                                </select>
                                            </span>                                                   

                                            {% if register_error.register_leg is defined %}<code> {{ register_error.register_leg}} </code> {% endif %} 
                                        </div>

                                    {% endif %}

                                    {% if username_type=="static" %}
                                        <div class="form-group tooltips" data-placement="top" data-original-title="{{lang('enter_a_sponser_name_for_joining')}}">
                                            <span class="input-icon">
                                                <div class="input-group">
                                                    <span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                                                    <input type="text" class="form-control" name="username" id="username" value="{{ register_data.username }}" placeholder="{{ lang('username') }}">
                                                </div> 
                                            </span>
                                            {% if register_error.username is defined %}<code> {{ register_error.username}}</code> {% endif %} 
                                        </div>
                                    {% endif %}

                                    <div class="form-group">
                                        <span class="input-icon">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-envelope"></i> </span>
                                                <input type="email" class="form-control" name="email" id="email" value="{{ register_data.email }}" placeholder="{{ lang('email') }}">
                                            </div> 
                                        </span>
                                        {% if register_error.email is defined %}<code> {{ register_error.email}}</code> {% endif %}  
                                    </div>                                    


                                    <div class="form-group">
                                        <span class="input-icon">
                                            <input type="password" class="form-control input-lg password_reset" id="password" name="password" placeholder="{{ lang('password') }}">
                                            <div class="pwstrength_viewport_progress"></div>
                                        </span>
                                        {% if register_error.password is defined %}<code> {{ register_error.password}}</code> {% endif %} 
                                    </div>


                                    <div class="form-group">
                                        <span class="input-icon">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-lock"></i> </span>
                                                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="{{ lang('confirm_password') }}">
                                            </div> 
                                        </span>
                                        {% if register_error.confirm_password is defined %}<code> {{ register_error.confirm_password}}</code> {% endif %} 
                                    </div>

                                    <div class="form-group">
                                        <span class="input-icon">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-lock"></i> </span>
                                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ register_data.first_name }}" placeholder="{{ lang('first_name') }}">
                                            </div> 
                                        </span>
                                        {% if register_error.first_name is defined %}<code> {{ register_error.first_name}}</code> {% endif %} 
                                    </div>


                                    <div class="form-group">
                                        <span class="input-icon">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-text-width"></i> </span>
                                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ register_data.last_name }}" placeholder="{{ lang('last_name') }}">
                                            </div> 
                                        </span>
                                        {% if register_error.last_name is defined %}<code> {{ register_error.last_name}}</code> {% endif %}
                                    </div>


                                    <div class="form-group">
                                        <span class="input-icon">
                                            <select class="form-control" id="country" name="country">
                                                <option value="">{{ lang('select_a_country')}}</option>
                                                {% for cntrs in countries %}
                                                    <option value="{{cntrs.id}}" {% if register_data.country==cntrs.id %} selected {% endif %}>{{cntrs.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </span>                                                   

                                        {% if register_error.country is defined %}<code> {{ register_error.country}} </code> {% endif %} 
                                    </div>


                                    <div class="form-group">
                                        <span class="input-icon" id="state_span">
                                            <select class="form-control" id="state" name="state">
                                                <option value="">{{ lang('select_a_state')}}</option>
                                                {% for sts in states %}
                                                    <option value="{{sts.id}}" {% if register_data.state==sts.id %} selected {% endif %}>{{sts.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </span>                                                   

                                        {% if register_error.state is defined %}<code> {{ register_error.state}} </code> {% endif %} 
                                    </div>


                                    <div class="form-group">
                                        <div>
                                            <label for="privacy_policy" class="checkbox-inline">
                                                <input type="checkbox" class="grey agree" id="privacy_policy" name="privacy_policy" {% if register_data.agree %} checked {% endif %}>                                                
                                            </label>
                                            <a href="#" data-toggle="modal" data-target="#privacy_modal">{{ lang('agree_to_the_privacy_policy') }}</a>
                                        </div>
                                        {% if register_error.agree is defined %}<code> {{ register_error.agree}}</code> {% endif %}
                                    </div>

                                    <p><b>{{lang('register_fee')}}: {{ entry_fee }}</b></p>

                                    {#<div class="form-group">
                                        <span class="input-icon">
                                            <select class="form-control" id="payment_method" name="payment_method">
                                                <option value="">{{ lang('select_a_payment_method')}}</option>
                                                {% for po in payment_options %}
                                                    <option value="{{po.code}}" {% if register_data.payment_method==po.code %} selected {% endif %}>{{lang(po.code)}}</option>
                                                {% endfor %}
                                            </select>
                                        </span>                                                   

                                        {% if register_error.payment_method is defined %}<code> {{ register_error.payment_method}} </code> {% endif %} 
                                    </div>#}


                                    <div class="form-group">
                                        <div>
                                            <label for="agree" class="checkbox-inline">
                                                <input type="checkbox" class="grey agree" id="agree" name="agree">
                                            </label>
                                            <a href="#" data-toggle="modal" data-target="#term_modal">{{ lang('agree_to_the_terms_and_condition') }}</a>
                                        </div>
                                        {% if register_error.agree is defined %}<code> {{ register_error.agree}}</code> {% endif %}
                                    </div>

                                    <div class="tabbable">
                                        <ul id="myTab" class="nav nav-tabs"> 
                                            {% if free_registration %}
                                                <li class="{{ free_registration_tab }}">
                                                    <a href="#free_registration_tab" data-toggle="tab">
                                                        <i class="green fa fa-credit-card"></i> {{lang('free_registration')}}
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% if bank_transfer %}
                                                <li class="{{ bank_transfer_tab }}">
                                                    <a href="#bank_transfer_tab" data-toggle="tab">
                                                        <i class="green fa fa-credit-card"></i> {{lang('bank_transfer')}}
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% if ewallet %}
                                                <li class="{{ ewallet_tab }}">
                                                    <a href="#ewallet_tab" data-toggle="tab">
                                                        <i class="green fa fa-credit-card"></i> {{lang('ewallet')}}
                                                    </a>
                                                </li>
                                            {% endif %}


                                            {% if epin %}
                                                <li class="{{ epin_tab }}">
                                                    <a href="#epin_tab" data-toggle="tab">
                                                        <i class="green fa fa-credit-card"></i> {{lang('epin')}}
                                                    </a>
                                                </li>
                                            {% endif %}


                                        </ul>
                                        <div class="tab-content">
                                            {% if free_registration %}
                                                <div class="tab-pane fade in {{ free_registration_tab }}" id="free_registration_tab">

                                                    <div class="alert alert-block alert-warning fade in">
                                                        <button data-dismiss="alert" class="close" type="button">
                                                            ×
                                                        </button>
                                                        <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                        <p>
                                                            {{lang('free_register_notification')}}
                                                        </p>

                                                    </div>


                                                    <button type="submit"class="btn btn-primary" value="free_registration" name="add_user">
                                                        {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                                    </button>

                                                </div>

                                            {% endif %}


                                            {% if bank_transfer %}
                                                <div class="tab-pane fade in {{ bank_transfer_tab }}" id="bank_transfer_tab">
                                                    <div class="alert alert-block alert-warning fade in">
                                                        <button data-dismiss="alert" class="close" type="button">
                                                            ×
                                                        </button>
                                                        <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                        <p>
                                                            {{lang('bank_transfer_notification')}}
                                                        </p>

                                                    </div>


                                                    <button type="submit"class="btn btn-primary" value="bank_transfer" name="add_user">
                                                        {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                                    </button>

                                                </div>

                                            {% endif %}


                                            {% if ewallet %}
                                                <div class="tab-pane fade in {{ ewallet_tab }}" id="ewallet_tab">
                                                    <div class="alert alert-block alert-warning fade in">
                                                        <button data-dismiss="alert" class="close" type="button">
                                                            ×
                                                        </button>
                                                        <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                        <p>
                                                            {{lang('ewallet_notification')}}
                                                        </p>

                                                    </div>

                                                    <button type="submit"class="btn btn-primary" value="ewallet" name="add_user">
                                                        {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>

                                            {% endif %}

                                            {% if epin %}
                                                <div class="tab-pane fade in {{ epin_tab }}" id="epin_tab">
                                                    <div class="alert alert-block alert-warning fade in">
                                                        <button data-dismiss="alert" class="close" type="button">
                                                            ×
                                                        </button>
                                                        <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                        <p>
                                                            {{lang('epin_notification')}}
                                                        </p>

                                                    </div>

                                                    <button type="submit"class="btn btn-primary" value="epin" name="add_user">
                                                        {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>

                                            {% endif %}
                                        </div>
                                    </div>











                                </fieldset>
                                {#<div class="form-group">
                                    <label class="col-sm-3 control-label">

                                    </label>
                                    <div class="col-sm-4">
                                        <button type="submit"class="btn btn-primary" value="add_user" name="add_user">
                                            {{ lang('register')}} <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>#}

                                {{ form_close()|raw }}                   


                                {% if loggeg_user %}
                                </div>
                            </div>
                        </div>
                    </div> 



                    <div id="term_modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ lang('terms_condition')}}</h4>
                                </div>
                                <div class="modal-body">

                                    {{terms_and_condition}}
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="privacy_modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ lang('privacy_policy')}}</h4>
                                </div>
                                <div class="modal-body">

                                    {{privacy_policy}}

                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                {% include('admin/layout/footer.twig')%}
            {% else %}                
            </div>
        </div>
    </div>
    {% include('layout/footer.twig')%}
{% endif %}
<script src="assets/js/single_step_register.js"></script>
<script src="assets/js/pwdchecker.js"></script>
<script>
    jQuery(document).ready(function () {
        valSingleStep();
    });



    $('#country').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        $.ajax({url: "register/get_states",
            data: {country_id: valueSelected},
            async: false,
            success: function (msg) {
                $('#state_span').html(msg);
            }
        });

    });



</script>
