<!DOCTYPE html>
<!-- Template Name: Rapido - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.2 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>{{title}} | {{COMPANY_NAME}}</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<base href="{{BASE_URL}}" />
		<link rel="shortcut icon" href="assets/images/logos/{{COMPANY_FAV_ICON}}" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->	
		 {%include('admin/layout/load_header_script.twig')%}
	</head>
	<!-- end: HEAD -->
	
	<!-- start: BODY -->
	<body class="{{THEME.body_class}}">

		<div class="main-wrapper">

		  <input type = "hidden" name = "LOG_USER_TYPE" id="LOG_USER_TYPE" value="{{LOG_USER_TYPE}}"/>

		{%include('admin/layout/top_bar.twig')%}
		{%include('admin/layout/menu.twig')%}
		{%include('admin/layout/page_right.twig')%}
		{%include('admin/layout/main_container.twig')%}

                
