{% include('admin/layout/header.twig')%}
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/styles-responsive.css">
<link rel="stylesheet" href="assets/css/plugins.css">
<link rel="stylesheet" href="assets/css/themes/theme-style8.css" type="text/css" id="skin_color">
<link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print"/>
<script src="assets/js/main.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"> <span class="text-bold">Account Setting</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>{{ lang('config') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open('', ' id="change_password" name="change_password"')|raw }}

                <div class="row">
                    <div class="col-md-12">
                        <!-- start: FAQ -->
                        <div class="tabbable tabs-left faq">
                            <ul id="myTab3" class="nav nav-tabs">
                                <li class="{{tab1}}">
                                    <a href="#faq_example1" data-toggle="tab">
                                        <i class="fa fa-user"></i>Change Password 
                                    </a>
                                </li>
                                <li class="{{tab2}}">
                                    <a href="#faq_example2" data-toggle="tab">
                                        <i class="fa fa-lock"></i> Chnage User Name
                                    </a>
                                </li>
                                <li class="{{tab3}}">
                                    <a href="#faq_example3" data-toggle="tab">
                                        <i class="fa fa-lock"></i> Change Transation Password
                                    </a>
                                </li>
                                <li class="{{tab4}}">
                                    <a href="#faq_example4" data-toggle="tab">
                                        <i class="fa fa-undo"></i> Activate/InAcitivate User
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane {{tab1}}" id="faq_example1">
                                    <div id="accordion" class="panel-group accordion accordion-custom accordion-teal">

                                        <h3 class="margin-bottom-15">Change User/Admin Password</h3>

                                        <br>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Select User Name
                                                </label>
                                                <div class="col-sm-6">
                                                    <span class="input-icon input-icon-right">
                                                        <div class="text-center">
                                                            <input class="typeahead form-control"  type="type" name="pass_user_name" placeholder="Select User Name" id="pass_user_name">


                                                        </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    New Password
                                                </label>
                                                <div class="col-sm-6">
                                                    <span class="input-icon input-icon-right">
                                                        <input name="pass_password" type="password" placeholder="New Password" id="pass_password" class="form-control password_reset">
                                                        <i class="fa fa-lock" onclick="toggle_password0('pass_password');" id="showhide0">Show</i> 
{#                                                         <div class="pwstrength_viewport_progress"></div>#}
                                                    </span>

                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Re-Enter  Password
                                                </label>
                                                <div class="col-sm-6">
                                                    <span class="input-icon input-icon-right">
                                                        <input name="pass_re_enter_password" type="password" placeholder="Re-Enter  Password" id="pass_re_enter_password" class="form-control">

                                                       <i class="fa fa-lock" onclick="toggle_password1('pass_re_enter_password');" id="showhide1">Show</i> 
                                                   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">

                                                </label>
                                                <div class="col-sm-6">
                                                    <button onclick="changepassword()" type="button"class="btn btn-primary" value="1" name="submit_password">
                                                        Change Password
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane {{tab2}}" id="faq_example2">
                                    <div id="accordion2" class="panel-group accordion accordion-custom accordion-teal">
                                        <h3 class="margin-bottom-15"> Change UserName User/Admin </h3>
                                        <br>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Select User Name
                                                </label>
                                                <div class="col-sm-6">
                                                    <span class="input-icon input-icon-right">
                                                        <div class="text-center">
                                                        <input type="type" name="uname_user_name" placeholder="Select User Name" id="uname_user_name" class="typeahead form-control">


                                                        </div>
                                                        </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                Change User Name
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <span class="input-icon input-icon-right">
                                                                    
                                                                    <input name="uname_new_username" type="type" placeholder="Change User Name" id="uname_new_username" class="form-control">
                                                                    <i class="fa fa-user"></i> </span>

                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                Re-Enter  User Name
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <span class="input-icon input-icon-right">
                                                                    <input name="uname_re_entry_username" type="type" placeholder="Re-Enter User Name" id="uname_re_entry_username" class="form-control">

                                                                    <i class="fa fa-user"></i> </span>

                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">

                                                            </label>
                                                            <div class="col-sm-6">
                                                                <button onclick="changeusername()" type="button"class="btn btn-primary" value="1" name="submit_password">
                                                         Change User Name
                                                                </button>
                                                            </div>
                                                        </div>


                                                        {#                Your Page Content here#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane {{tab3}}" id="faq_example3">
                                            <div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
                                                <h3 class="margin-bottom-15">Change Transation Password</h3>
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">
                                                            Select User Name
                                                        </label>
                                                        <div class="col-sm-6">
                                                            <span class="input-icon input-icon-right">
                                                                <div class="text-center">
                                                                <input type="type" name="tran_user_name" placeholder="Select User Name" id="tran_user_name" class="typeahead form-control">


                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">
                                                                        New Password
                                                                    </label>
                                                                    <div class="col-sm-6">
                                                                        <span class="input-icon input-icon-right">
                                                                            <input name="tran_pass_password" type="password" placeholder="New Password" id="tran_pass_password" class="form-control">

                                                                            <i class="fa fa-lock" onclick="toggle_password2('tran_pass_password');" id="showhide2">Show</i>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">
                                                                        Re-Enter  Password
                                                                    </label>
                                                                    <div class="col-sm-6">
                                                                        <span class="input-icon input-icon-right">
                                                                            <input name="tran_pass_re_enter_password" type="password" placeholder="Re-Enter  Password" id="tran_pass_re_enter_password" class="form-control">

                                                                           <i class="fa fa-lock" onclick="toggle_password3('tran_pass_re_enter_password');" id="showhide3">Show</i>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">

                                                                    </label>
                                                                    <div class="col-sm-6">
                                                                        <button onclick="changetransation()" type="button"class="btn btn-primary" value="1" name="submit_password">
                                                              Change Transation Password
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        <div class="tab-pane {{tab4}}" id="faq_example4">
                                            <div id="accordion4" class="panel-group accordion accordion-custom accordion-teal">
                                                <h3 class="margin-bottom-15">Activate OR Inactivate Users</h3>
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">
                                                            Select User Name
                                                        </label>
                                                        <div class="col-sm-6">
                                                            <span class="input-icon input-icon-right">
                                                                <div class="text-center">
                                                                <input type="type" name="act_user_name" placeholder="Select User Name" id="act_user_name" class="typeahead form-control">


                                                                </div>
                                                                </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">

                                                                    </label>
                                                                    <div class="col-sm-6">
                                                                        <button onclick="changeact()" type="button"class="btn btn-primary" value="1" name="submit_password">
                                                                  Activate
                                                                        </button>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">

                                                                    </label>
                                                                    
                                                                    <div class="col-sm-6">
                                                                        <button onclick="changedct()" type="button"class="btn btn-primary" value="1" name="submit_password">
                                                                  InActivate
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                        <!-- end: FAQ -->
                                    </div>
                                </div>

                                {{ form_close()|raw }}


                            </div>
                        </div>                                    
                    </div>
                </div>


{% include('admin/layout/footer.twig')%}
{#<script src="assets/js/pwdchecker.js"></script>#}
<script src="assets/js/account_settings.js"></script>
<script src="assets/js/typeahead.js"></script>
<script>
        $('input.typeahead').typeahead({
            
            source:  function (query, process) {                  
                var url="{{BASE_URL}}admin/member/get_usernames";                
                return $.get(url, { query: query }, function (data) {                    
                 console.log(data);
                 data = $.parseJSON(data);                           
                 return process(data);
                });
            }
        });
</script>

