{% include('admin/layout/header.twig')%}
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/styles-responsive.css">
<link rel="stylesheet" href="assets/css/plugins.css">
<link rel="stylesheet" href="assets/css/themes/theme-style8.css" type="text/css" id="skin_color">
<link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print"/>
<script src="assets/js/main.js"></script>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Account Setting <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open('', ' id="change_password" name="change_password"')|raw }}

                <div class="row">
                    <div class="col-md-12">
                        <!-- start: FAQ -->
                        <div class="tabbable tabs-left faq">
                            <ul id="myTab3" class="nav nav-tabs">
                                <li class="{{tab1}}">
                                    <a href="#faq_example1" data-toggle="tab">
                                        <i class="fa fa-user"></i>Change Password 
                                    </a>
                                </li>
                                <li class="{{tab2}}">
                                    <a href="#faq_example2" data-toggle="tab">
                                        <i class="fa fa-lock"></i> Chnage User Name
                                    </a>
                                </li>
                                <li class="{{tab3}}">
                                    <a href="#faq_example3" data-toggle="tab">
                                        <i class="fa fa-lock"></i> Change Transation Password
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane {{tab1}}" id="faq_example1">
                                    <div id="accordion" class="panel-group accordion accordion-custom accordion-teal">

                                        <h3 class="margin-bottom-15">Change User Password</h3>

                                        <br>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Select User Name
                                                </label>
                                                <div class="col-sm-4">
                                                    <span class="input-icon input-icon-right">
                                                        <input type="type" name="pass_user_name" placeholder="Select User Name" id="pass_user_name" class="form-control">


                                                        </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                New Password
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <span class="input-icon input-icon-right">
                                                                    <input name="pass_password" type="password" placeholder="New Password" id="pass_password" class="form-control">

                                                                    <i class="fa fa-lock"></i> </span>

                                                                {#<meter max="4" id="password-strength-meter"></meter>
                                                                <p id="password-strength-text"></p>
                                                                <div class="hide-show">#}
                                                                <span2 class="buttonshow">
                                                                    Show </span2>
                                                                    {#                                                                                                                        </div>#}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                Re-Enter  Password
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <span class="input-icon input-icon-right">
                                                                    <input name="pass_re_enter_password" type="password" placeholder="Re-Enter  Password" id="pass_re_enter_password" class="form-control">

                                                                    <i class="fa fa-lock"></i> </span>
                                                                <div class="hide-show">
                                                                    <span class="buttonshow">
                                                                        Show </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">

                                                            </label>
                                                            <div class="col-sm-4">
                                                                <button type="submit"class="btn btn-primary" value="1" name="submit_password">
                                                                    Change Password
                                                                </button>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane {{tab2}}" id="faq_example2">
                                            <div id="accordion2" class="panel-group accordion accordion-custom accordion-teal">
                                                <h3 class="margin-bottom-15"> Change User Name</h3>
                                                <br>
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">
                                                            Select User Name
                                                        </label>
                                                        <div class="col-sm-4">
                                                            <span class="input-icon input-icon-right">
                                                                <input type="type" name="uname_user_name" placeholder="Select User Name" id="uname_user_name" class="form-control">


                                                                </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">
                                                                        Change User Name
                                                                    </label>
                                                                    <div class="col-sm-4">
                                                                        <span class="input-icon input-icon-right">
                                                                            <input name="uname_new_username" type="type" placeholder="Change User Name" id="uname_new_username" class="form-control">
                                                                            <i class="fa fa-user"></i> </span>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">
                                                                        Re-Enter  User Name
                                                                    </label>
                                                                    <div class="col-sm-4">
                                                                        <span class="input-icon input-icon-right">
                                                                            <input name="uname_re_entry_username" type="type" placeholder="Re-Enter User Name" id="uname_re_entry_username" class="form-control">

                                                                            <i class="fa fa-user"></i> </span>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">

                                                                    </label>
                                                                    <div class="col-sm-4">
                                                                        <button type="submit" class="btn btn-primary" name="submit_username" value="1">
                                                                            Change User Name
                                                                        </button>
                                                                    </div>
                                                                </div>


                                                                {#                Your Page Content here#}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane {{tab3}}" id="faq_example3">
                                                    <div id="accordion3" class="panel-group accordion accordion-custom accordion-teal">
                                                        <h3 class="margin-bottom-15">Change Transation Password</h3>
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">
                                                                    Select User Name
                                                                </label>
                                                                <div class="col-sm-4">
                                                                    <span class="input-icon input-icon-right">
                                                                        <input type="type" name="tran_user_name" placeholder="Select User Name" id="tran_user_name" class="form-control">


                                                                        </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">
                                                                                New Password
                                                                            </label>
                                                                            <div class="col-sm-4">
                                                                                <span class="input-icon input-icon-right">
                                                                                    <input name="tran_pass_password" type="password" placeholder="New Password" id="tran_pass_password" class="form-control">

                                                                                    <i class="fa fa-lock"></i> </span>

                                                                                {#<meter max="4" id="password-strength-meter"></meter>
                                                                                <p id="password-strength-text"></p>
                                                                                <div class="hide-show">#}
                                                                                <span2 class="buttonshow">
                                                                                    Show </span2>
                                                                                    {#                                                                                                                        </div>#}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">
                                                                                Re-Enter  Password
                                                                            </label>
                                                                            <div class="col-sm-4">
                                                                                <span class="input-icon input-icon-right">
                                                                                    <input name="tran_pass_re_enter_password" type="password" placeholder="Re-Enter  Password" id="tran_pass_re_enter_password" class="form-control">

                                                                                    <i class="fa fa-lock"></i> </span>
                                                                                <div class="hide-show">
                                                                                    <span class="buttonshow">
                                                                                        Show </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">

                                                                            </label>
                                                                            <div class="col-sm-4">
                                                                                <button type="submit"class="btn btn-primary" name="submit_transation" value="1">
                                                                                    Change Transation Password
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                                <!-- end: FAQ -->
                                            </div>
                                        </div>





                                        {{ form_close()|raw }}


                                    </div>
                                </div>                                    
                            </div>
                        </div>


                        {% include('admin/layout/footer.twig')%}
