{% include('admin/layout/header.twig')%}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">

                    {% if edit_flag %} 
                        Update Product
                    {% else %}
                        Add Product
                    {% endif %}
                    <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open_multipart('', ' id="add_product_form" name="add_product_form"')|raw }}
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Name<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_name" id="product_name" placeholder='enter your product name' value="{{ product.product_name }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Amount<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_amount" id="product_amount" placeholder='enter your product amount' value="{{ product.product_amount }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Value<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_pv" id="product_pv" placeholder='enter your product pv' value="{{ product.product_pv }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Code<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_code" id="product_code"  placeholder='enter your product code' value="{{ product.product_code }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Recurring Mode
                        </label>
                        <div class="col-sm-4">
                            <select name="recurring_type" id="recurring_type" class="form-control" >
                                <option value="">Select Recurring Mode</option>
                                <option value="monthly" {% if product.recurring_type=="monthly" %} selected {% endif %}>Monthly</option>
                                <option value="yearly" {% if product.recurring_type=="yearly" %} selected {% endif %}>Yearly</option>                                            
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Type<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <select name="product_type" id="product_type" class="form-control" >
                                <option value="">Select Product Mode</option>
                                <option value="register" {% if product.product_type=="register" %} selected {% endif %}>Register</option>
                                <option value="repurchase" {% if product.product_type=="repurchase" %} selected {% endif %}>Repurchase</option>                                            
                                <option value="both" {% if product.product_type=="both" %} selected {% endif %}>Both</option>                                            
                            </select>
                        </div>
                    </div>

                    {% if edit_flag %} 
                        {% for imgs in product.files %}

                            <div class="form-group" id="file_div_{{imgs.id}}">
                                <label class="col-sm-3 control-label">     
                                    Product Image
                                </label>
                                <div class="col-sm-2">
                                    <input type="hidden" name="product_delete_status_{{imgs.id}}" id="product_delete_status_{{imgs.id}}" value="0" />
                                    <img src="assets/images/products/{{ imgs.file_name }}" alt="Smiley face" height="42" width="42"> 
                                </div>
                                <div class="col-sm-2">
                                    <div onclick="changeValue({{imgs.id}},1)">
                                    <img src="assets/images/delete.png" alt="Smiley face" height="15" width="15"> Remove
                                </div>
                                </div>
                            </div>

                        {% endfor %}

                    {% endif %}



                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Product Image
                        </label>
                        <div class="col-sm-3">
                            <input type="file" id="images" name="images[]" size="20" />
                        </div>
                        <div class="col-sm-2" id="more_upload">
                            <span class="btn btn-success fileinput-button" data-placement="top" data-original-title="Add"> 
                                <i class="glyphicon glyphicon-plus"></i> 
                            </span>
                        </div>
                    </div>

                    <div id="file_div">
                        
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            {% if edit_flag %} 
                                <input type="hidden" value="{{ product_id }}" name="edited_id" id="edited_id" />
                                <button type="submit"class="btn btn-primary" value="cancel_product" name="cancel_product">
                                    Cancel <i class="fa fa-arrow-circle-right"></i>
                                </button>
                                <button type="submit"class="btn btn-primary" value="update_product" name="update_product">
                                    Update <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            {% else %}
                                <button type="submit"class="btn btn-primary" value="add_product" name="add_product">
                                    Add <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            {% endif %}


                        </div>
                    </div>
                </div>
                {{ form_close()|raw }}
            </div>
        </div>                                    
    </div>
</div>
{% if not edit_flag %} 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Added Products

                        <span class="text-bold"></span></h4>
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                                <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                                <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                                <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th>SlNo</th>
                                    <th>Product Name</th>
                                    <th>Status</th>
                                    <th>Product Code</th>
                                    <th>Amount</th>
                                    <th>PV</th>
                                    <th>Recurring</th>
                                    <th>Type</th>
                                    <th>Action</th>                                
                                </tr>
                            </thead>
                            <tbody>

                                {% for pro in all_products %}
                                    <tr>
                                        <td>{{ pro.sl_no }}</td>
                                        <td>{{ pro.product_name }}</td>
                                        <td>
                                            {% if pro.status %} 
                                                Active
                                            {% else %}
                                                Inactive 
                                            {% endif %}
                                        </td>
                                        <td>{{ pro.product_code }}</td>
                                        <td>{{ pro.product_amount }}</td>
                                        <td>{{ pro.product_pv }}</td>
                                        <td>{{ pro.recurring_type }}</td>
                                        <td>{{ pro.product_type }}</td>
                                        <td>
                                            <a href="javascript:edit_prod({{ pro.id }})" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                {% if pro.status=='1' %} 
                                                <a href="javascript:inactivate_prod({{ pro.id }})" class="btn btn-xs btn-yellow tooltips" data-placement="top" data-original-title="Inactivate"><i class="fa fa-times fa fa-white"></i></a>
                                                {% else %}
                                                <a href="javascript:activate_prod({{ pro.id }})" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Activate"><i class="glyphicon glyphicon-ok-sign"></i></a>
                                                {% endif %}
                                            <a href="javascript:delete_prod({{ pro.id }})" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash fa fa-white"></i></a>
                                            {% else %}
                                            No access

                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>                                    
        </div>
    </div>
{% endif %}
<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script src="assets/js/product_management.js"></script>
<script>
    $(document).ready(function () {
        $('#more_upload').click(function (e) {
            $('#file_div').append(' <div class="form-group" id="file_div"><label class="col-sm-3 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Product Image</label><div class="col-sm-4"><input type="file" id="images" name="images[]" size="20" /></div></div>');
        });
    });
    
    function changeValue(input_field,value){
        var field='#product_delete_status_'+input_field;
        $(field).val(1);
        
        var field_div='#file_div_'+input_field;
        $(field_div).hide();
    }

</script>
{% include('admin/layout/footer.twig')%}
