{% include('admin/layout/header.twig')%}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="text-bold">
                        {% if edit_flag %} 
                            {{lang('update_product')}}
                        {% else %}
                            {{lang('add_product')}} 
                        {% endif %}
                    </span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>{{ lang('config') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open_multipart('', ' id="add_product_form" name="add_product_form"')|raw }}
                <div class="form-horizontal">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('product_name')}}<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_name" id="product_name" placeholder="{{lang('product_name')}}" value="{{ product.product_name }}">
                            {% if error.product_name is defined %}<code> {{ error.product_name}}</code> {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('product_amount')}}<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_amount" id="product_amount" placeholder="{{lang('product_amount')}}" value="{{ product.product_amount }}">
                            {% if error.product_amount is defined %}<code> {{ error.product_amount}}</code> {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('product_pv')}}<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_pv" id="product_pv" placeholder="{{lang('product_pv')}}" value="{{ product.product_pv }}">
                            {% if error.product_pv is defined %}<code> {{ error.product_pv}}</code> {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('product_code')}}<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="product_code" id="product_code"  placeholder="{{lang('product_code')}}" value="{{ product.product_code }}">
                            {% if error.product_code is defined %}<code> {{ error.product_code}}</code> {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('recurring_type')}}
                        </label>
                        <div class="col-sm-4">
                            <select name="recurring_type" id="recurring_type" class="form-control" >
                                <option value="">{{lang('select_recurring_type')}}</option>
                                <option value="monthly" {% if product.recurring_type=="monthly" %} selected {% endif %}>{{lang('monthly')}}</option>
                                <option value="yearly" {% if product.recurring_type=="yearly" %} selected {% endif %}>{{lang('yearly')}}</option>                                            
                            </select>
                            {% if error.recurring_type is defined %}<code> {{ error.recurring_type}}</code> {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('product_type')}}<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <select name="product_type" id="product_type" class="form-control" >
                                <option value="">Select Product Mode</option>
                                <option value="register" {% if product.product_type=="register" %} selected {% endif %}>{{lang('register')}}</option>
                                <option value="repurchase" {% if product.product_type=="repurchase" %} selected {% endif %}>{{lang('repurchase')}}</option>                                            
                                <option value="both" {% if product.product_type=="both" %} selected {% endif %}>Both</option>                                            
                            </select>
                            {% if error.product_type is defined %}<code> {{ error.product_type}}</code> {% endif %}
                        </div>
                    </div>

                    {% if edit_flag %} 
                        {% for imgs in product.files %}

                            <div class="form-group" id="file_div_{{imgs.id}}">
                                <label class="col-sm-3 control-label">     
                                    {{lang('product_image')}}
                                </label>
                                <div class="col-sm-2">
                                    <input type="hidden" name="product_delete_status_{{imgs.id}}" id="product_delete_status_{{imgs.id}}" value="0" />
                                    <img src="assets/images/products/{{ imgs.file_name }}" alt="Smiley face" height="42" width="42"> 
                                </div>
                                <div class="col-sm-2">
                                    <div onclick="changeValue({{imgs.id}}, 1)">
                                        <img src="assets/images/delete.png" alt="Smiley face" height="15" width="15"> {{lang('remove')}}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    {% endif %}



                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('product_image')}}
                        </label>
                        <div class="fileupload fileupload-new col-sm-3" data-provides="fileupload">
                            <div class="fileupload-new thumbnail"><img src="assets/images/products/our-products.png" alt="">
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail"></div>
                            <div class="user-edit-image-buttons">
                                <span class="btn btn-azure btn-file"><span class="fileupload-new"><i class="fa fa-picture"></i> {{lang('select_image')}}</span><span class="fileupload-exists"><i class="fa fa-picture"></i> {{lang('change')}}</span>
                                    <input type="file" id="images" name="images[]"/>
                                </span>
                                <a href="#" class="btn fileupload-exists btn-red" data-dismiss="fileupload">
                                    <i class="fa fa-times"></i> {{lang('remove')}}
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-2" id="more_upload">
                            <span class="btn btn-success fileinput-button" data-placement="top" data-original-title="{{lang('add')}}"> 
                                <i class="glyphicon glyphicon-plus"></i> 
                            </span>
                        </div>

                    </div>



                    <div id="file_div">

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            {% if edit_flag %} 
                                <input type="hidden" value="{{ product_id }}" name="edited_id" id="edited_id" />
                                <button type="submit"class="btn btn-primary" value="update_product" name="update_product">
                                    {{lang('update')}} <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            {% else %}
                                <button type="submit"class="btn btn-primary" value="add_product" name="add_product">
                                    {{lang('add')}} <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            {% endif %}


                        </div>
                    </div>
                </div>
                {{ form_close()|raw }}
            </div>
        </div>                                    
    </div>
</div>
{% if not edit_flag %} 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title"><span class="text-bold">{{lang('added_products')}}</span></h4>
                    <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>{{ lang('config') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="sample-table-1">
                            <thead>
                                <tr>
                                    <th>{{ lang('slno') }}</th>
                                    <th>{{ lang('product_name') }}</th>
                                    <th>{{ lang('status') }}</th>
                                    <th>{{ lang('product_code') }}</th>
                                    <th>{{ lang('product_amount') }}</th>
                                    <th>{{ lang('product_pv') }}</th>
                                    <th>{{ lang('recurring_type') }}</th>
                                    <th>{{ lang('product_type') }}</th>
                                    <th>{{ lang('action') }}</th>                                
                                </tr>
                            </thead>
                            <tbody>

                                {% for pro in all_products %}
                                    <tr>
                                        <td>{{ pro.sl_no }}</td>
                                        <td>{{ pro.product_name }}</td>
                                        <td>
                                            {% if pro.status %} 
                                                {{ lang('active') }}
                                            {% else %}
                                                {{ lang('inactive') }}
                                            {% endif %}
                                        </td>
                                        <td>{{ pro.product_code }}</td>
                                        <td>{{ pro.product_amount }}</td>
                                        <td>{{ pro.product_pv }}</td>
                                        <td>{{ pro.recurring_type }}</td>
                                        <td>{{ pro.product_type }}</td>
                                        <td>
                                            <a href="javascript:edit_prod({{ pro.id }})" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="{{ lang('edit') }}"><i class="fa fa-edit"></i></a>
                                                {% if pro.status=='1' %} 
                                                <a href="javascript:inactivate_prod({{ pro.id }})" class="btn btn-xs btn-yellow tooltips" data-placement="top" data-original-title="{{ lang('inactivate') }}"><i class="fa fa-times fa fa-white"></i></a>
                                                {% else %}
                                                <a href="javascript:activate_prod({{ pro.id }})" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="{{ lang('activate') }}"><i class="glyphicon glyphicon-ok-sign"></i></a>
                                                {% endif %}
                                            <a href="javascript:delete_prod({{ pro.id }})" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="{{ lang('delete') }}"><i class="fa fa-trash fa fa-white"></i></a>
                                            {% else %}
                                            No access

                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>                                    
        </div>
    </div>
{% endif %}
{% include('admin/layout/footer.twig')%}


<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script src="assets/js/product_management.js"></script>
<script>
                                        $(document).ready(function () {
                                            validate_product_management();
                                        });
</script>

